$backgroundColor: #f7fbfe;
$leftMenuColor: #ffffff;
$leftIndent: 60px;
$themeSpacing: 8px;

.left-menu {
  background-color: $leftMenuColor;
  width: 60px;
  min-height: 100vh;
  position: relative;
  padding: 10px 0;
  text-align: center;
}

.left-menu-opener {
  height: 60px;
  width: 60px;
  text-align: center;
  padding-top: 18px;
  background-color: $leftMenuColor;
  position: absolute;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.left-menu-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  cursor: pointer;
  padding-bottom: 2*$themeSpacing;
}

.main-container {
  background-color: $backgroundColor;
  min-height: 100vh;
}

.box-body.indent {
  margin-left: $leftIndent;
}

.header-component {
  margin-left: $leftIndent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.login-info {
  max-width: 300px;
  height: 60px;
}

.table-cell-request {
  width: 50%;
  word-break: break-word;
}

.icon-search {
  padding: 0 2*$themeSpacing;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-search-inner {
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  margin-right: 2*$themeSpacing;
  margin-left: 2*$themeSpacing;
  width: 100%;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.cursor-pointer {
  cursor: pointer;
}
